<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
            <a  href="https://dash-lab.github.io/">
                <img width="186" height="50" src="../img/lab_logo_text.png" alt="data" class="image" style="margin-bottom:16px">
            </a>
            <div id="id3c92cc21fa76a" a='{"t":"b","v":"1.2","lang":"en","locs":[873,879],"ssot":"c","sics":"ds","cbkg":"rgba(41,182,246,1)","cfnt":"rgba(255,255,255,1)","ceb":"rgba(41,182,246,1)","cef":"rgba(255,255,255,1)","slmw":167,"slbr":"8","slfs":12}'><a href="https://sharpweather.com/widgets/">HTML Weather widget for website by sharpweather.com</a></div>
        </a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home </a></li>
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}              
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
                            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %} 
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
