<!--  Scripts-->                                                                               
<script src="{{ "js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "js/materialize.min.js" | relative_url }}"></script>
<script src="{{ "js/init.js" | relative_url }}"></script>
<script async src="https://static1.sharpweather.com/widgetjs/?id=id3241554892540"></script>
<!--Script for the Pop-up advertisement-->


<style>
    .popup-container {
        display: flex;
        flex-wrap: wrap; /* Allows items to wrap onto the next line as needed */
        justify-content: center; /* Centers the pop-ups in the container */
        padding: 10px;
        gap: 10px; /* Space between pop-ups */
    }

    .popup {
        transition: all 1.5s ease-in;
        opacity: 0;
        transform: scale(0.0);
        background-color: rgba(236, 236, 236, 0.7);
        padding: 10px;
        width: 320px; /* Fixed width */
        min-height: 420px; /* Adjust based on content */
        border-radius: 0px;
        margin-top: 140px; /* Space from the top */
    }

    /* Responsive adjustments */
    @media (max-width: 600px) {
        .popup-container {
            flex-direction: column; /* Stacks pop-ups vertically on small screens */
        }

        .popup {
            margin-top: 10px; /* Less margin on smaller screens */
        }
    }
</style>
<!-- This is the code for 1 pop-up window.  -->

<script>
    setTimeout(function() {
        // Show only the second popup
        document.querySelector("#popup2").style.opacity = '1';
        document.querySelector("#popup2").style.transform = 'scale(1)';
        document.querySelector("#popup2").style.left = 0;
		
        document.querySelector("#popup1").style.opacity = '1';
        document.querySelector("#popup1").style.transform = 'scale(1)';
        document.querySelector("#popup1").style.right = 0;
    }, 10);


    // Close second popup
    document.querySelector("#close2").addEventListener("click", function(){
        document.querySelector("#popup2").style.transform = 'scale(0)';
        document.querySelector("#popup2").style.display = "none";
    });

	document.querySelector("#close1").addEventListener("click", function(){
        document.querySelector("#popup1").style.transform = 'scale(0)';
        document.querySelector("#popup1").style.display = "none";
    });
</script>

<script>


    // Close second popup
    
</script>


<!-- Script for randomly choose an thumbnail image on home page -->
<script>
	// Array of image URLs
	var images = [
	"../img/coverPage.jpg"
	];
  
	// Select a random image from the array
	var randomImage = images[Math.floor(Math.random() * images.length)];
  
	// Get the div element
	var div = document.getElementById('index-banner');
  
	// Set the div's background image to the random image
	div.style.backgroundImage = " linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('" + randomImage + "')";
  </script>
<!-- flickity courasel -->
<script src="../js/flickity.pkgd.min.js"></script>
