---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center Green">Data-driven + AI + Security + HCI Lab</h1>
      <div class="row center">
        <h5 class="header col s12 light">Developing Usable and Secure Technology after Better Understanding Data, Machines, and Humans</h5>
      </div>
        
      
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img width="60" height="84" src="../img/satellite_v1.png" alt="data" class="image"></h2>
            <h5 class="center">Data Driven</h5>

            <p class="light">Applied Data Science & Data Engineering</p>
            <p class="light">Satellite Communication</p>
            <p class="light">Machine Learning with security and Adeverserial Machine Learning</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img width="60" height="78" src="../img/face_icon.png" alt="ai" class="image"></h2>
            <h5 class="center">A.I</h5>

            <p class="light">DeepFake(Video/ Audio) Detection</p>
            <p class="light">Time Series Anomaly / Outlier Detection</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Security & HCI</h5>
            <p class="light">Online User Privacy/Abuse & Fake info detection</p>
            <p class="light">Blockchain and Authentication</p>
            <p class="light">Usable Security(Human Factors in CyberSecurity)</p>
          </div>
        </div>
        
      </div>
      
    </div>
 

  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <img src="/img/IU2.JPG" alt="" width="800" />
        </div> 
        
        <div align="right">
           <a class="twitter-timeline" href="https://twitter.com/TheDASHLab?ref_src=twsrc%5Etfw" width="350" height="400" tweet-limit="4">
           Tweets by TheDASHLab
           </a> 
           <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
           </script>
        </div>    
        
      </div>    
    </div>
  </div>
  
