---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center Green">DASH Lab</h1>
      <div class="row center">
        <h5 class="header col s12 light">Researching Secure, Private, and Efficient Technology after Better Understanding Data, Machines, and Humans</h5>
      </div>
        
      <div class="row center">
        <h7 class="header col s12 light"> <b> --News-- </b></h7>
        <h7 class="header col s12 light"> <b> 인공지능 그랜드 첼린지 4차대회 객체인식관련 2위 (IITP원장상수상)  진심으로 축하합니다! <a href="https://www.korea.kr/news/pressReleaseView.do?newsId=156538366&call_from=rsslink">(News1)</a> <a href="https://www.aitimes.kr/news/articleView.html?idxno=26612">(New2)</a> <a href="http://www.irobotnews.com/news/articleView.html?idxno=30147">(News3)</a></b></h7>
        <h7 class="header col s12 light"> <b> - <a href="https://pidicon.kr/"><u>PIDICON</u></a> 학부생: 안현준, 진송찬, 대학원생: 박은주, 김민하 <a href="https://cs.skku.edu/ko/edures/education/view/6957">장려상 수상</a> 축하합니다!   </b></h7>
        <h7 class="header col s12 light"> <b> - 2022 한국인공지능학회 & 네이버 추계공동학술대회: 김진범학생 논문 (A Novel Transformer-based Approach for Rotated Object Detection in Aerial Images) 우수상 축하합니다!   </b></h7>
        <h7 class="header col s12 light"> <b> - 5 full conference papers (BK IF=3) are accepted at CIKM 2022. Congrats ALL and appreciate your hard work! </b></h7>
        <h7 class="header col s12 light"> <b> - Congrats Youjin (YJ) Shin for accepting an Assistant Professor position in the Data Science Dept at Sejong Univ, Seoul. Wishing you all the best for your future academic endeavors!  </b></h7> 
        <h7 class="header col s12 light"> <b> (신유진 박사의 2022/9월 세종대 데이터사이언스학과 조교수 임용을 진심으로 축하합니다!)  </b></h7>
      </div>
        <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img width="90" height="84" src="../img/satellite_v2.png" alt="data" class="image"></h2>
            <h5 class="center">Data Driven</h5>

            <p  align="center" class="light">Applied Data Science & Data Engineering</p>
            <p  align="center" class="light">Satellite Systems</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img width="60" height="78" src="../img/face_icon_motion_2.gif" alt="ai" class="image"></h2>
            <h5 class="center">A.I</h5>

            <p  align="center" class="light">DeepFake (Video / Audio) Detection</p>
            <p align="center" class="light">Time Series Anomaly / Outlier Detection</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img width="116" height="84" src="../img/security_v0.png" alt="security" class="image"></h2>
            <h5 class="center">Security & Privacy</h5>
            <p align="center" class="light">Online User Privacy/Abuse & Fake info detection</p>
            <p  align="center" class="light">Machine Learning with Security and Privacy</p>
          </div>
        </div>
        
      </div>
      
    </div>
 

  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <img src="/img/IU2.JPG" alt="" width="800" />
        </div> 
        
        <div align="right">
           <a class="twitter-timeline" href="https://twitter.com/TheDASHLab?ref_src=twsrc%5Etfw" width="350" height="400" tweet-limit="4">
           Tweets by TheDASHLab
           </a> 
           <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
           </script>
        </div>    
        
      </div>    
    </div>
  </div>
  
